@using Core
@using BlazorApp.Service
@page "/CreateUser"

<div class="login-page-background">
    <div class="login-container">
        
        <h3>Opret Bruger</h3>
        
        <EditForm Model="@user" OnValidSubmit="OnClickCreateUser">
            <DataAnnotationsValidator/>
            
            <div class="form-floating-group gap-1">
                <label for="un">Username</label>
                <InputText id="un" class="form-control" @bind-Value="user.Name" placeholder="Username"/>
            </div>
            <br/>
            <div class="form-floating-group gap-1">
                <label for="pwd">Adgangskode</label>
                <InputText id="pwd"
                           type="@PasswordType"
                           class="form-control"
                           @bind-Value="user.Password"
                           placeholder="Password"/>
                <i class="bi bi-eye" @onclick="ToggleAdgangskodeVisibility"></i>
            </div>
            <br/>
            <div class="form-floating-group gap-1">
                <label for="un">E-Mail</label>
                <InputText id="em" class="form-control" @bind-Value="user.Email" placeholder="E-Mail"/>
            </div>
            <br/>
            <div class="form-floating-group gap-1">
                <label for="un">Adresse</label>
                <InputText id="ad" class="form-control" @bind-Value="user.Adress" placeholder="Adresse"/>
            </div>
            <br/>
            <div class="form-floating-group gap-1">
                <label for="un">Tlf nummer</label>
                <InputText id="pn" class="form-control" @bind-Value="user.Phone" placeholder="Tlf nummer"/>
            </div>
            <br/>
            <div>
                <button type="submit" class="btn btn-primary">Opret Bruger</button>
            </div>
            
        </EditForm>

        @if (!string.IsNullOrEmpty(errorText))
        {
            <div class="error-message">
                <span class="error-icon">⚠️</span>
                <span class="error-text">@errorText</span>
            </div>
        }
    </div>
</div>

@code {
    User user = new();
    
    //Bruges til at vise errortext hvis relevant - ellers er den tom
    string errorText = "";
    //Bruges til at skjule visningen af adgangskoden i vores ToggleAdgangskodeVisibility 
    bool visPassword = false;

    string PasswordType => visPassword ? "text" : "password";
    
    //Skifter mellem visning og skjul af adgangskodefeltet
    void ToggleAdgangskodeVisibility()
    {
        visPassword = !visPassword;
    }
    
    private async Task OnClickCreateUser()
    {
        
        
    }
}